/* Fil: frontend/src/components/TravelForm.module.css */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 3rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-weight: 500;
  font-size: 0.9rem;
}

.inputGroup input, .inputGroup select {
  padding: 0.75rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.inputGroup input:focus, .inputGroup select:focus {
  outline: none;
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-start;
}

.submitButton:hover {
  background-color: rgb(29, 108, 244);
}

.submitButton:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.errorText {
  color: #dc3545;
  font-size: 0.9rem;
}


.searchResults {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: white;
  box-shadow: var(--card-shadow);
}

.searchResults li {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.searchResults li:hover {
  background-color: var(--light-gray-bg);
}

.searchResults li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}